header {
    width: 100%;
}

.header-promo {
    height: 60px;
    background-color: var(--title);
    color: var(--bgSite);

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-logo {
    height: 60px;
    color: var(--title);

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-cover {
    height: 378px;
    background-image: linear-gradient(to left, transparent 0%, var(--title) 99%), url("/e-comerce/assets/img/wallpaper.jpg");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-text {
    color: var(--bgSite);
    margin: 0 0 0 100px;
    width: 460px;

}

.header-slogan {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 19px;
}

.header-anuncio {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.7;
}

/* Reposivity */