/* Onde vai todo a base do meu body */

main {
    height: auto;
}

.main-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px 0 0 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;

}

.main-cabecalho span {
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}

.main-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 59px 100px;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    margin-right: 0;
    padding: 0;
}

li {
    background-color: var(--bgCard);
    padding: 56px 15px;
    margin: 19px 3px;
}