header {
    width: 100%;
}

.header-promo {
    height: 40px;
    background-color: var(--title);
    color: var(--bgSite);

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-logo {
    height: 60px;
    color: var(--title);

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-cover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 400px;
    background-image: linear-gradient(to left, transparent 0%, var(--title) 99%), url("../assets/img/wallpaper.jpeg");
    background-size: cover;
    background-position: center;
    

}

.header-text {
    color: var(--bgSite);
    margin: 0 0 0 100px;
    width: 50%;
}

.header-slogan {
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.header-anuncio, #typed {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.7;
}

@media (max-width:350px) {
    .header-slogan {
        font-size: 1.5em;
    }
    .header-anuncio, #typed {
        display: none;
    }
}

@media (max-width: 420px ) {
    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}